// Media Query Mixin
@mixin mq($break) {
    @if $break == 'med' {
        @media (min-width: $break-md) {
            @content;
        }
    }
    @else if $break == 'large' {
        @media (min-width: $break-lg) {
            @content;
        }
    }
    @else {
        @error "ERROR:'#{$break}' is not a valid option. Please enter 'med' or 'large' for this mixin";
    }
}

// Flexbox Settings Mixin
@mixin flexy ($dir: row, $just: space-between, $align: stretch){
    display: flex;
    flex-direction: $dir;
    justify-content: $just;
    align-items: $align;
    @content;
}

// Button Colors Theme Mixin
@mixin btn-colors($map) {
    @each $theme, $color in $map {
        &--#{$theme}.theme__colors {
            @extend %btn;
            background-color: $color;
            @content;
        }
    }
}