
%rounded {
    padding: 15px 30px;
    border: 0;
    border-radius: 5px;
    color: $white;
    font-weight: bold;

    @include mq(large) {
        padding: 10px 30px;
    }
}

%btn {
    @extend %rounded;
    width: 100%;
    text-transform: uppercase;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    margin: em(12px) 0;
    &:hover {
        opacity: 0.7;
    }
    &:active {
        opacity: initial;
    }
}

//make the image blueishy
%img {
    //https://stackoverflow.com/questions/44023583/css3-grey-image-to-blue-color-using-filters
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}