// Descriptive Colors variables
$white: #fff;
$dark-grey: #384047;
$light-grey: lighten($dark-grey, 30%);
$malibu: #51ddfc;;
$emerald: #63cc82;
$sunglo: #e4757a;
$coral: #fd7856;
$purple-mtn-majesty: #927bc1;

// Colors by function variables
$text-color: $light-grey;
$color-bg: $white;
$color-accent: mix($malibu, $emerald, 50%);
$subheadings-color: #aaaaaa; //check if lighten is not best option => lighten($text-color, 30%);

// UI Colors Map variables
$ui-colors: (
	default : $malibu,
	success : $emerald,
	error   : $sunglo,
	warning : $coral,
	info    : $purple-mtn-majesty
);

//Grid Columns variables
$grid-colors: (
	1: lighten($dark-grey, 10%),
	2: lighten($coral, 20%),
	3: lighten($purple-mtn-majesty, 15%),
	4: lighten($malibu, 15%),
	5: lighten($emerald, 10%),
	6: darken($malibu, 25%),
	7: lighten($sunglo, 10%),
	8: lighten($coral, 10%),
	9: lighten($sunglo, 10%),
	10: lighten($purple-mtn-majesty, 10%),
	11: lighten($coral, 10%),
	12: lighten($color-accent, 10%)
);

//Fonts Variables
$font-stack: 'Helvetica Neue', Helvetica, sans-serif;
$base__font-size: 18px;
$base__line: 30px;

// Breakpoints Variables
$break-md: 769px;
$break-lg: 1400px;